/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mainContacto .botones {
  width: 5rem;
  padding: 5px;
  text-align: center;
  border-color: #e482bb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 15px; }

.estiloInicio main .contactar p, .mainPropuestas .parrafo, .mainPropuestas .envio, .mainNosotros .descripcion .parrafoNos, .mainTienda .contactarTienda p, .mainTiendaSalada .contactarTienda p, .mainTiendaRegalos .contactarTienda p {
  width: 75%;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-shadow: 1px 1px gray;
  border-radius: 1rem;
  text-align: center;
  letter-spacing: 0.2;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(212, 95, 193, 0.2)); }

.estiloInicio main .seccion, .mainPropuestas .seccionImg, .mainPropuestas .seccionImg2, .mainTienda .seccion, .mainTiendaSalada .seccion, .mainTiendaRegalos .seccion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem; }

/* ESTILOS DE HEADER */
header {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(212, 95, 193, 0.2)); }
  header img {
    width: 9rem;
    margin-left: 3rem; }
  header .container-fluid {
    display: flex; }
  header .barra {
    justify-content: end; }
  header .barra a {
    color: #a51da5;
    font-size: 1.8rem;
    font-weight: 500; }
  header .barraM:hover {
    text-decoration: underline; }
  header .barraA:hover {
    color: #a51da5; }
  header .fondo a:active {
    color: #a51da5;
    background-color: #969595; }
  header .fondoDos a:visited {
    color: #a51da5; }

/* ESTILOS DEL MAIN-INICIO */
.estiloInicio {
  width: 100%;
  background-image: url(../img/fondos/melanie-boers-urrWQ8bYwcw-unsplash.jpg);
  background-size: cover;
  background-position: center; }

.estiloInicio main {
  display: grid;
  grid-template-areas: "inicio inicio" "mirar carro" "seccion seccion" "contactar contactar"; }
  .estiloInicio main .inicio {
    grid-area: inicio;
    text-align: center;
    padding: 3rem;
    font-family: 'Titan One', cursive;
    font-weight: 500;
    color: #cc4ccc; }
  .estiloInicio main .mirar {
    grid-area: mirar;
    text-align: center;
    align-self: center;
    font-size: 3rem;
    font-family: 'Titan One', cursive;
    color: #a51da5;
    transition: 0.8s; }
  .estiloInicio main .mirar:hover {
    transform: scale(1.2); }
  .estiloInicio main .divCarro {
    display: flex;
    justify-content: center;
    align-items: center; }
  .estiloInicio main .foto {
    border-radius: 6rem; }
  .estiloInicio main .carro {
    grid-area: carro;
    margin-bottom: 2.5rem; }
  .estiloInicio main .carousel-inner {
    width: 500px; }
  .estiloInicio main .carousel {
    width: 500px; }
  .estiloInicio main .seccion {
    grid-area: seccion;
    margin-top: 5rem; }
  .estiloInicio main .card {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(212, 95, 193, 0.2)); }
  .estiloInicio main .card p {
    font-family: cursive;
    font-size: 1.8rem;
    font-weight: bold; }
  .estiloInicio main .contactar {
    grid-area: contactar;
    display: flex;
    justify-content: center;
    margin-top: 8rem; }
    .estiloInicio main .contactar p a {
      color: #a51da5;
      text-decoration: none; }
  .estiloInicio main .contactar p a:hover {
    text-decoration: underline; }

/* PROPIEDADES DEL MAIN-PROPUESTAS */
.estiloPropuestas {
  background-image: url(../img/fondos/aurela-redenica-hw3xRyhs1JI-unsplash.jpg);
  width: 100%;
  background-size: cover;
  background-position: center; }

.mainPropuestas {
  display: grid;
  grid-template-areas: "h1Pro h1Pro h1Pro h1Pro" "parrafo parrafo parrafo parrafo" "seccionImg seccionImg seccionImg seccionImg" "seccionImg2 seccionImg2 seccionImg2 seccionImg2" "envio envio envio envio"; }
  .mainPropuestas h1 {
    grid-area: h1Pro;
    text-align: center;
    padding: 3rem;
    font-family: 'Titan One', cursive;
    font-weight: 500;
    color: #cc4ccc; }
  .mainPropuestas .propuestas {
    grid-area: parrafo;
    display: flex;
    justify-content: center;
    justify-items: center; }
  .mainPropuestas .seccionImg {
    grid-area: seccionImg; }
  .mainPropuestas .seccionImg2 {
    grid-area: seccionImg2; }
  .mainPropuestas img {
    border-radius: 5px;
    box-shadow: 4px 5px rgba(212, 95, 193, 0.2);
    width: 300px;
    margin-top: 2rem;
    transition: 0.5s; }
  .mainPropuestas img:hover {
    transform: scale(1.2); }
  .mainPropuestas .propuestas1 {
    grid-area: envio;
    display: flex;
    justify-content: center; }
  .mainPropuestas .envio {
    margin-top: 3rem;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(212, 95, 193, 0.8)); }

/* PROPIEDADES DEL MAIN-NOSOTROS*/
.estiloNosotros {
  background-image: url(../img/fondos/freunde-des-snacks-e-v-sKsmhqxiTR4-unsplash.jpg);
  width: 100%;
  background-size: cover;
  background-position: center; }

.mainNosotros h1 {
  text-align: center;
  padding: 3rem;
  font-family: 'Titan One', cursive;
  font-weight: 500;
  color: #cc4ccc; }

.mainNosotros .descripcion {
  display: flex;
  justify-content: center; }
  .mainNosotros .descripcion .parrafoNos {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(212, 95, 193, 0.6)); }
    .mainNosotros .descripcion .parrafoNos span {
      font-family: 'Dancing Script', cursive;
      font-size: 2.5rem; }

/* PROPIEDADES DE TIENDA-DULCE */
.estiloDulce {
  background-image: url(../img/fondos/toa-heftiba-U_zIfKfEoRM-unsplash.jpg);
  width: 100%;
  background-size: cover;
  background-position: center; }

.mainTienda h1 {
  text-align: center;
  padding: 3rem;
  font-family: 'Titan One', cursive;
  font-weight: 500;
  color: #cc4ccc; }

.mainTienda .seccion {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.mainTienda .card {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));
  text-align: center;
  border-radius: 1rem; }

.mainTienda .card p {
  font-family: cursive;
  font-size: 1.8rem;
  font-weight: bold; }

.mainTienda a {
  width: 4rem;
  border-radius: 5px;
  margin-bottom: 5px;
  align-self: center;
  color: black;
  background-color: white;
  font-size: 1.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  text-decoration: none; }

.mainTienda .contactarTienda {
  grid-area: contactar;
  display: flex;
  justify-content: center;
  margin-top: 8rem; }
  .mainTienda .contactarTienda p {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4)); }
    .mainTienda .contactarTienda p a {
      font-size: 1.8rem;
      color: #a51da5;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.1); }

/* PROPIEDADES DE TIENDA-SALADO */
.estiloSalado {
  background-image: url(../img/fondos/zura-narimanishvili-5iX4W5tIjYM-unsplash.jpg);
  width: 100%;
  background-size: cover;
  background-position: center; }

.mainTiendaSalada h1 {
  text-align: center;
  padding: 3rem;
  font-family: 'Titan One', cursive;
  font-weight: 500;
  color: #cc4ccc; }

.mainTiendaSalada .seccion {
  margin-top: 5rem;
  margin-bottom: 10rem; }

.mainTiendaSalada .card {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));
  text-align: center;
  border-radius: 1rem; }

.mainTiendaSalada .card p {
  font-family: cursive;
  font-size: 1.8rem;
  font-weight: bold; }

.mainTiendaSalada a {
  width: 4rem;
  border-radius: 5px;
  margin-bottom: 5px;
  align-self: center;
  color: black;
  background-color: white;
  font-size: 1.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  text-decoration: none; }

.mainTiendaSalada .contactarTienda {
  grid-area: contactar;
  display: flex;
  justify-content: center;
  margin-top: 8rem; }
  .mainTiendaSalada .contactarTienda p {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4)); }
    .mainTiendaSalada .contactarTienda p a {
      font-size: 1.8rem;
      color: #a51da5;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0); }

/* PROPIEDADES DE TIENDA-REGALOS */
.estiloRegalos {
  background-image: url(../img/fondos/jojo-yuen-sharemyfoodd-hidpWiMIFw0-unsplash.jpg);
  width: 100%;
  background-size: cover;
  background-position: center; }

.mainTiendaRegalos h1 {
  text-align: center;
  padding: 3rem;
  font-family: 'Titan One', cursive;
  font-weight: 500;
  color: #cc4ccc; }

.mainTiendaRegalos .seccion {
  margin-top: 5rem;
  margin-bottom: 10rem; }

.mainTiendaRegalos .card {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));
  text-align: center;
  border-radius: 1rem; }

.mainTiendaRegalos .card p {
  font-family: cursive;
  font-size: 1.8rem;
  font-weight: bold; }

.mainTiendaRegalos a {
  width: 4rem;
  border-radius: 5px;
  margin-bottom: 5px;
  align-self: center;
  color: black;
  background-color: white;
  font-size: 1.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  text-decoration: none; }

.mainTiendaRegalos .contactarTienda {
  grid-area: contactar;
  display: flex;
  justify-content: center;
  margin-top: 8rem; }
  .mainTiendaRegalos .contactarTienda p {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4)); }
    .mainTiendaRegalos .contactarTienda p a {
      font-size: 1.8rem;
      color: #a51da5;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0); }

/* PROPIEDADES DE CONTACTO */
.estiloContacto {
  background-image: url(../img/fondos/slashio-photography-DSH9AHPKoWw-unsplash.jpg);
  width: 100%;
  background-size: cover;
  background-position: center; }

.mainContacto h1 {
  text-align: center;
  padding: 3rem;
  font-family: 'Titan One', cursive;
  font-weight: 500;
  color: #cc4ccc; }

.mainContacto form {
  display: flex;
  justify-content: center; }

.mainContacto .formulario {
  width: 75%;
  margin: 10px;
  border: solid 2px gray;
  border-radius: 1rem;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));
  box-shadow: 4px 5px rgba(155, 155, 155, 0.3);
  font-size: 1.3rem; }

.mainContacto .formulario legend {
  font-family: cursive;
  font-size: 1.8rem;
  font-weight: bold; }

.mainContacto .formulario div {
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.mainContacto .nombres {
  padding-left: 1rem; }

.mainContacto .mails {
  padding-left: 1.9rem; }

.mainContacto .mensaje {
  width: 500px;
  height: 250px; }

/* PROPIEDADES DE ZOOM */
.zoom {
  overflow: hidden; }

.seccion div {
  border-radius: 5px;
  transition: 0.8s; }

.seccion div:hover {
  transform: scale(1.1); }

/* PROPIEDADES DEL BOTON WPP*/
.enlace {
  position: fixed;
  bottom: 10rem;
  right: 0; }

.colori {
  background-color: #4f9909;
  border-radius: 2rem; }

/* PROPIEDADES DEL FOOTER */
footer {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(34, 34, 34, 0.4));
  padding-bottom: 2rem;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  gap: 30px; }
  footer div {
    margin-top: 2rem; }
  footer .seguinos {
    margin-top: 2rem; }
  footer .seguinos ul li {
    gap: 5px; }
  footer div a {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold; }
  footer .parraFooter {
    color: black;
    font-size: 1.8rem;
    font-weight: bold; }
  footer .contacto {
    color: #272727;
    font-size: 1.8rem; }
  footer .volver a {
    color: black;
    text-decoration: none; }
  footer .volver a:hover {
    color: black; }
  footer .logoFooter {
    padding: 10px;
    font-size: 2.5rem;
    font-family: 'Titan One', cursive;
    color: #a51da5; }

/* MEDIA QUERIES */
@media (max-width: 700px) and (min-width: 320px) {
  /* INICIO */
  .estiloInicio main {
    display: grid;
    grid-template-areas: "inicio" "mirar" "carro" "seccion" "contactar"; }
    .estiloInicio main h1 {
      font-size: 1.8rem; }
    .estiloInicio main .mirar {
      font-size: 1.6rem; }
    .estiloInicio main .carousel-inner {
      width: 300px; }
    .estiloInicio main .carousel {
      width: 300px; }
    .estiloInicio main .card p {
      font-family: cursive;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center; }
    .estiloInicio main .contactar p {
      font-size: 1.3rem; }
  /* PROPUESTAS */
  .estiloPropuestas h1 {
    font-size: 1.6rem; }
  .estiloPropuestas .mainPropuestas p {
    font-size: 1.3rem; }
  /* NOSOTROS */
  .estiloNosotros .mainNosotros h1 {
    font-size: 1.6rem; }
  .estiloNosotros .mainNosotros .descripcion {
    justify-content: center; }
  .estiloNosotros .mainNosotros .parrafoNos {
    text-align: center;
    font-size: 1.3rem; }
  /* TIENDA-DULCE */
  .estiloDulce .mainTienda h1 {
    font-size: 1.6rem; }
  .estiloDulce .mainTienda p {
    font-size: 1.3rem; }
  .estiloDulce .mainTienda p a {
    font-size: 1.3rem; }
  /* TIENDA-SALADOS */
  .estiloSalado .mainTiendaSalada h1 {
    font-size: 1.6rem; }
  .estiloSalado .mainTiendaSalada p {
    font-size: 1.3rem; }
  .estiloSalado .mainTiendaSalada p a {
    font-size: 1.3rem; }
  /* TIENDA-REGALOS */
  .estiloRegalos .mainTiendaRegalos h1 {
    font-size: 1.6rem; }
  .estiloRegalos .mainTiendaRegalos p {
    font-size: 1.3rem; }
  .estiloRegalos .mainTiendaRegalos p a {
    font-size: 1.3rem; }
  /* CONTACTO */
  .mainContacto h1 {
    font-size: 1.6rem; }
  .formulario {
    text-align: center; }
  .mainContacto .mensaje {
    width: 200px;
    height: 250px; }
  /* FOOTER */
  footer {
    flex-direction: column; } }

@media (max-width: 950px) and (min-width: 701px) {
  /* INICIO */
  .estiloInicio main .carousel-inner {
    width: 400px; }
  .estiloInicio main .carousel {
    width: 400px; }
  .estiloInicio main .card {
    width: 80%; }
  .estiloInicio main .card p {
    font-family: cursive;
    font-size: 2.1rem;
    font-weight: bold; }
  /* PROPUESTAS */
  .mainPropuestas .propuestas {
    display: grid;
    grid-template-areas: "img" "parrafo"; }
    .mainPropuestas .propuestas img {
      width: 75%; }
  /* NOSOTROS */
  .mainNosotros .descripcion {
    justify-content: center; }
  /* FOOTER */
  footer {
    flex-direction: column; } }
