/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// IMPORT

@import "utilities/variables";

@import "utilities/mixin";

@import "utilities/extend";



 /* ESTILOS DE HEADER */

header{
    background:linear-gradient(rgba(255, 255, 255, 0.2), rgba(212, 95, 193, 0.2));

    img{
        width: 9rem;
        margin-left: 3rem;
    }

    .container-fluid{
        display: flex;
    }

    .barra{
        justify-content: end;

    }

    .barra a{
        color: $color-principal-letras;
        font-size: $fuente;
        font-weight: 500;

    }

    .barraM:hover{
        text-decoration: underline;
    }

    .barraA:hover{
        color: $color-principal-letras;
    }

    .fondo a:active{
        color: $color-principal-letras;
        background-color: rgb(150, 149, 149);
    }

    .fondoDos a:visited{
        color: $color-principal-letras;
    }
}

/* ESTILOS DEL MAIN-INICIO */

.estiloInicio{
    width: 100%;
    background-image: url(../img/fondos/melanie-boers-urrWQ8bYwcw-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.estiloInicio main{
    display: grid;
    grid-template-areas: "inicio inicio"
                         "mirar carro"
                         "seccion seccion"
                         "contactar contactar";

    .inicio{
        grid-area: inicio;
        @include tituloH1;
    }

    .mirar{
        grid-area: mirar;
        text-align: center;
        align-self: center;
        font-size: 2.5rem;
        font-family: 'Titan One', cursive;
        color: $color-principal-letras;
        transition: 0.8s;
    }

    .mirar:hover{
        transform: scale(1.2);
    } 

    .divCarro{
        @include flex(flex, center, center);
    }

    .foto{
        border-radius: 6rem;
    }

    .carro{
        grid-area: carro;
        margin-bottom: 2.5rem;
    }

    .carousel-inner{
        width: 500px;
    }
        
    .carousel{
        width: 500px;
    }

    .seccion{
        grid-area: seccion;
        margin-top: 5rem;
        @extend %seccion;
    }

    .card{
        background:linear-gradient(rgba(255, 255, 255, 0.2), rgba(212, 95, 193, 0.2));
        
    }

    .card p{
        @include cartaP;
    }

    .contactar{
        @include contactar;
        

        p{
            @extend %textos;

            a{
                color: $color-principal-letras;
                text-decoration: none;
            }
        }

    }

    .contactar p a:hover{
        text-decoration: underline;
    }
}

/* PROPIEDADES DEL MAIN-PROPUESTAS */

.estiloPropuestas{
    background-image: url(../img/fondos/aurela-redenica-hw3xRyhs1JI-unsplash.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.mainPropuestas{
    display: grid;
    grid-template-areas: "h1Pro h1Pro h1Pro h1Pro"
                         "parrafo parrafo parrafo parrafo"
                         "seccionImg seccionImg seccionImg seccionImg"
                         "seccionImg2 seccionImg2 seccionImg2 seccionImg2"
                         "envio envio envio envio";
    
    h1{
        grid-area: h1Pro;
        @include tituloH1;
    }

    .propuestas{
        grid-area: parrafo;
        @include flex(flex, center, center);
    }

    .parrafo{
        @extend %textos;
    }
    
    .seccionImg{
        grid-area: seccionImg;
        @extend %seccion;
    }

    .seccionImg2{
        grid-area: seccionImg2;
        @extend %seccion;
    }

    img{
        @include img;
        width: 300px;
        margin-top: 2rem;
        transition: 0.5s;
    }

    img:hover{
        transform: scale(1.2);
    }

    .propuestas1{
        grid-area: envio;
        display: flex;
        justify-content: center;
    }

    .envio{
        @extend %textos;
        margin-top: 3rem;
        background:linear-gradient(rgba(255, 255, 255, 0.8), rgba(212, 95, 193, 0.8));
    }
}

/* PROPIEDADES DEL MAIN-NOSOTROS*/

.estiloNosotros{
    background-image: url(../img/fondos/freunde-des-snacks-e-v-sKsmhqxiTR4-unsplash.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.mainNosotros{

    h1{
        @include tituloH1
    }
    
    .descripcion{
        display: flex;
        justify-content: center;

        .parrafoNos{
            @extend %textos;
            background:linear-gradient(rgba(255, 255, 255, 0.6), rgba(212, 95, 193, 0.6));

            span{
                font-family: 'Dancing Script', cursive;
                font-size: 2rem;
            }
        }
    }
    
}

/* PROPIEDADES DE TIENDA-DULCE */

.estiloDulce{
    background-image: url(../img/fondos/toa-heftiba-U_zIfKfEoRM-unsplash.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;


}

.mainTienda{

    h1{
        @include tituloH1
    }

    .seccion{
        margin-top: 5rem;
        margin-bottom: 10rem;
        @extend %seccion;
    }

    .card{
        background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));
        text-align: center;
        border-radius: 1rem;
    }

    .card p{
        @include cartaP;
        
    }

    .compras{
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;

        button{
            @extend %botones;
            margin-left: 5px;
        }

        a{
            @include enlaceComprar;
        }

    }

    .contactarTienda{
        @include contactar;
        

        p{
            @extend %textos;
            background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));

            a{
                font-size: 1.5rem;
                color: $color-principal-letras;
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

/* PROPIEDADES DE TIENDA-SALADO */

.estiloSalado{
    background-image: url(../img/fondos/zura-narimanishvili-5iX4W5tIjYM-unsplash.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;


}

.mainTiendaSalada{

    h1{
        @include tituloH1
    }

    .seccion{
        margin-top: 5rem;
        margin-bottom: 10rem;
        @extend %seccion;
    }

    .card{
        background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));
        text-align: center;
        border-radius: 1rem;
    }

    .card p{
        @include cartaP;
        
    }
    
    .compras{
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;

        button{
            @extend %botones;
            margin-left: 5px;
        }

        a{
            @include enlaceComprar;
        }

    }

    .contactarTienda{
        @include contactar;
        

        p{
            @extend %textos;
            background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));

            a{
                font-size: 1.5rem;
                color: $color-principal-letras;
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }
}

/* PROPIEDADES DE TIENDA-REGALOS */

.estiloRegalos{
    background-image: url(../img/fondos/serghei-savchiuc-Ic0E0y6Zo20-unsplash.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;


}

.mainTiendaRegalos{

    h1{
        @include tituloH1
    }

    .seccion{
        margin-top: 5rem;
        margin-bottom: 10rem;
        @extend %seccion;
    }

    .card{
        background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));
        text-align: center;
        border-radius: 1rem;
    }

    .card p{
        @include cartaP;
        
    }

    .compras{
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;

        button{
            @extend %botones;
            margin-left: 5px;
        }

        a{
            @include enlaceComprar;
        }

    }
    
    .contactarTienda{
        @include contactar;
        

        p{
            @extend %textos;
            background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));

            a{
                font-size: $fuente;
                color: $color-principal-letras;
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }
}

/* PROPIEDADES DE CONTACTO */

.estiloContacto{
    background-image: url(../img/fondos/slashio-photography-DSH9AHPKoWw-unsplash.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.mainContacto{

    margin-bottom: 5rem;

    h1{
        @include tituloH1;
    }

    form{
        display: flex;
        justify-content: center;
    }

    .formulario{
        width: 75%;
        margin: 10px;
        border: solid 2px gray;
        border-radius: 1rem;
        background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(212, 95, 193, 0.4));
        box-shadow: 4px 5px rgba(155, 155, 155, 0.3);
        font-size: 1.3rem;
    }
    
    .formulario legend{
        @include cartaP;
    }
    
    .formulario div{
        padding: 5px;
        margin: 5px;
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    
    .nombres{
        padding-left: 1rem;
    }
    
    .mails{
        padding-left: 1.9rem;
    }

    .mensaje{
        width: 500px;
        height: 250px;
    }
    
    .botones{
        @extend %botones;
    }
}

/* PROPIEDADES DE ZOOM */
    
.zoom{
    overflow: hidden;
}

.seccion .card img{
    border-radius: 5px;
    transition: 0.8s;
}

.seccion .card img:hover{
    transform: scale(1.1);
}

.seccion .compras a{
    border-radius: 5px;
    transition: 0.8s;
}

.seccion .compras a:hover{
    transform: scale(1.1);
}

/* PROPIEDADES DEL BOTON WPP*/

.enlace{
    position: fixed;
    bottom: 10rem;
    right: 5px;
}

.colori{
    background-color: rgb(79, 153, 9);
    border-radius: 2rem;
}

/* PROPIEDADES DEL FOOTER */

footer{
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(34, 34, 34, 0.4));
    padding-bottom: 2rem;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 30px;

    div{
        margin-top: 2rem;
    }

    .seguinos{
        margin-top: 2rem;
    }

    .seguinos ul li{
        gap: 5px;
    }

    div a{
        color: $color-secundario-letras;
        text-decoration: none;
        font-size: $fuente;
        font-weight: bold;
    }

    .parraFooter{
        color: $color-secundario-letras;
        font-size: $fuente;
        font-weight: bold;
    }

    .contacto{
        color: rgb(39, 39, 39);
        font-size: $fuente;
    }

    .volver a{
        color: $color-secundario-letras;
        text-decoration: none;
    }

    .volver a:hover{
        color:$color-secundario-letras;
    }

    .logoFooter{
        padding: 10px;
        font-size: 2rem;
        font-family: 'Titan One', cursive;
        color: $color-principal-letras;
    }
}

/* MEDIA QUERIES */

@media (max-width: 700px) and (min-width: 320px) {

/* INICIO */
    .estiloInicio main{
        display: grid;
        grid-template-areas: "inicio"
                             "mirar"
                             "carro"
                             "seccion"
                             "contactar";

        h1{
            font-size: 1.7rem;
        }

        .mirar{
            font-size: 1.6rem;
        }

        .carousel-inner{
            width: 300px;
        }
            
        .carousel{
            width: 300px;
        }

        .card p{
            @include fuenteQuerie;
        }

        .contactar p{
            font-size: 1.3rem;
        }
    }

/* PROPUESTAS */

    .estiloPropuestas{
        h1{
            font-size: 1.7rem;
        }

        .mainPropuestas p{
            font-size: 1.3rem;
        }
    }

/* NOSOTROS */

    .estiloNosotros .mainNosotros{
        h1{
            font-size: 1.7rem;
        }
        
    }
    .estiloNosotros .mainNosotros .descripcion{
        justify-content:center;
    }

    .estiloNosotros .mainNosotros .parrafoNos{
        text-align: center;
        font-size: 1.3rem;
    }

/* TIENDA-DULCE */

    .estiloDulce{
        .mainTienda h1{
            font-size: 1.7rem;
        }

        .mainTienda p{
            @include fuenteQuerie;
        }

        .mainTienda p a{
            font-size: 1.3rem;
        }
    }

    /* TIENDA-SALADOS */

    .estiloSalado{
        .mainTiendaSalada h1{
            font-size: 1.7rem;
        }

        .mainTiendaSalada p{
            @include fuenteQuerie;
        }

        .mainTiendaSalada p a{
            font-size: 1.3rem;
        }
    }

    /* TIENDA-REGALOS */

    .estiloRegalos{
        .mainTiendaRegalos h1{
            font-size: 1.7rem;
        }

        .mainTiendaRegalos p{
            @include fuenteQuerie;
        }

        .mainTiendaRegalos p a{
            font-size: 1.3rem;
        }
    }

/* CONTACTO */

    .mainContacto h1{
        font-size: 1.7rem;
    }

    .mainContacto .formulario{
        text-align: center;
    }

    .mainContacto .campoImput{
        width: 12.5rem;
    }

    .mainContacto .mensaje{
        width: 200px;
        height: 250px;
    }

/* FOOTER */

    footer{
        flex-direction: column;
    }

}




@media (max-width: 950px) and (min-width: 701px) {

/* INICIO */
    .estiloInicio main{
        .carousel-inner{

            width: 400px;
            
            }
            
            .carousel{
            
            width: 400px;
            
            }

        .card{
            width: 80%;
        }

        .card p{
            @include fuenteQuerie;
            font-family: cursive;
        }
    }

/* PROPUESTAS */
    .mainPropuestas .propuestas{
        display: grid;
        grid-template-areas: "img"
                             "parrafo";

    img{
            width: 75%;
        }
    }

/* TIENDA-DULCE */

.estiloDulce{
    .mainTienda h1{
        font-size: 1.7rem;
    }

    .mainTienda p{
        @include fuenteQuerie;
    }

    .mainTienda p a{
        font-size: 1.3rem;
    }
}

/* TIENDA-SALADOS */

.estiloSalado{
    .mainTiendaSalada h1{
        font-size: 1.7rem;
    }

    .mainTiendaSalada p{
        @include fuenteQuerie;
    }

    .mainTiendaSalada p a{
        font-size: 1.3rem;
    }
}

/* TIENDA-REGALOS */

.estiloRegalos{
    .mainTiendaRegalos h1{
        font-size: 1.7rem;
    }

    .mainTiendaRegalos p{
        @include fuenteQuerie;
    }

    .mainTiendaRegalos p a{
        font-size: 1.3rem;
    }
}

/* NOSOTROS */
    .mainNosotros .descripcion{
        justify-content:center;
    }

/* FOOTER */
    

    footer{
        flex-direction: column;
    }

}


