/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// IMPORT

@import "utilities/variables";

@import "utilities/mixin";

@import "utilities/extend";



 /* ESTILOS DE HEADER */

header{
    background:linear-gradient(rgba(255, 255, 255, 0.2), rgba(212, 95, 193, 0.2));

    img{
        width: 9rem;
        margin-left: 3rem;
    }

    .titulo{
        color: $color-principal-letras;
        font-size: 2.5rem;
        padding-bottom: 1.2rem;
        font-family: 'Inconsolata', monospace;
        font-weight: bold;
    }

    .container-fluid{
        display: flex;
    }

    .barra{
        justify-content: end;

    }

    .barra a{
        color: $color-principal-letras;
        font-size: $tamaño-fuente;
        font-weight: 500;

    }

    .barraM:hover{
        text-decoration: underline;
    }

    .barraA:hover{
        color: $color-principal-letras;
    }

    .fondo a:active{
        color: $color-principal-letras;
        background-color: rgb(150, 149, 149);
    }

    .fondoDos a:visited{
        color: $color-principal-letras;
    }

}

/* ESTILOS DEL MAIN-INICIO */

.estiloInicio{
    width: 100%;
    background-image: url(../img/fondos/melanie-boers-urrWQ8bYwcw-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.estiloInicio main{
    display: grid;
    grid-template-areas: "inicio inicio"
                         "mirar carro"
                         "seccion seccion"
                         "contactar contactar";
    @include mainGeneral;

    .inicio{
        grid-area: inicio;
        @include tituloH1;
    }

    .mirar{
        grid-area: mirar;
        text-align: center;
        align-self: center;
        font-size: 3rem;
        font-family: 'Titan One', cursive;
        color: $color-principal-letras;
        transition: 0.8s;
    }

    .mirar:hover{
        transform: scale(1.2);
    } 

    .divCarro{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foto{
        border-radius: 6rem;
    }

    .carro{
        grid-area: carro;
        margin-bottom: 2.5rem;
    }

    .carousel-inner{
        width: 500px;
    }
        
    .carousel{
        width: 500px;
    }

    .seccion{
        grid-area: seccion;
        margin-top: 5rem;
        @extend %seccion;
    }

    .card{
        background:linear-gradient(rgba(255, 255, 255, 0.2), rgba(212, 95, 193, 0.2));
        
    }

    .card p{
        font-family: cursive;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .contactar{
        grid-area: contactar;
        display: flex;
        justify-content: center;
        margin-top: 8rem;
        

        p{
            @extend %textos;

            a{
                color: $color-principal-letras;
                text-decoration: none;
            }
        }

    }

    .contactar p a:hover{
        text-decoration: underline;
    }
}

/* PROPIEDADES DEL MAIN-PROPUESTAS */

.estiloPropuestas{
    background-image: url(../img/fondos/aurela-redenica-hw3xRyhs1JI-unsplash.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.mainPropuestas{
    @include mainGeneral;
    display: grid;
    grid-template-areas: "h1Pro h1Pro h1Pro h1Pro"
                         "parrafo parrafo parrafo parrafo"
                         "seccionImg seccionImg seccionImg seccionImg"
                         "seccionImg2 seccionImg2 seccionImg2 seccionImg2"
                         "envio envio envio envio";
    
    h1{
        grid-area: h1Pro;
        @include tituloH1;
    }

    .propuestas{
        grid-area: parrafo;
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .parrafo{
        @extend %textos;
    }
    
    .seccionImg{
        grid-area: seccionImg;
        @extend %seccion;
    }

    .seccionImg2{
        grid-area: seccionImg2;
        @extend %seccion;
    }

    img{
        @include img;
        width: 300px;
        margin-top: 2rem;
    }

    .propuestas1{
        grid-area: envio;
        display: flex;
        justify-content: center;
    }

    .envio{
        @extend %textos;
        margin-top: 3rem;
        background:linear-gradient(rgba(255, 255, 255, 0.8), rgba(212, 95, 193, 0.8));
    }
}

/* PROPIEDADES DEL MAIN-NOSOTROS*/

.estiloNosotros{
    background-image: url(../img/fondos/zach-miles-BE9AifuJfD4-unsplash.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.mainNosotros{
    @include mainGeneral;

    h1{
        @include tituloH1
    }

    .descripcion{
        display: grid;
        grid-template-areas: "imgN1 imgN2"
                             "parrafoNos parrafoNos";
        justify-items: center;
        gap: 1rem;
    }
    
    .imgN1{
        grid-area: imgN1;
        @include img;
        width: 75%;
    }
    
    .imgN2{
        grid-area: imgN2;
        @include img;
        width: 75%;
    }
    
    .parrafoNos{
        grid-area: parrafoNos;
        width: 75%;
        margin-top: 2rem;
        font-size: 20px;
        font-family: cursive;
        font-weight: bold;
        background-color: rgb(158, 156, 156);
        border-radius: 20px;
        letter-spacing: 0.2;
    }
}

/* PROPIEDADES DE TIENDA-DULCE */

.mainTienda{
    @include mainGeneral;

    h1{
        @include tituloH1;
    }

    div ul li{
        list-style: none;
    }
    
    .lista{
        display: grid;
        grid-template-areas:"pro1 pro2"
                            "pro3 pro4"
                            "pro5 pro6";
        align-items:baseline;
    }

    img{
        @include img;
        width: 70%;
    }
    
    .lista p{
        padding: 10px;
        font-family:'Times New Roman', Times, serif;
        font-size: 1.3rem;
        font-weight: bold;
    }
    
    .lista button{
        @extend %botones;
    }
    
    .pro1{
        grid-area: pro1;
        margin-bottom: 4.5rem;
        padding-top: 1rem;
    }
    
    .pro2{
        grid-area: pro2;
        margin-bottom: 4.5rem;
        padding-top: 1rem;
    }
    
    .pro3{
        grid-area: pro3;
        margin-bottom: 4.5rem;
        padding-top: 1rem;
    }
    
    .pro4{
        grid-area: pro4;
        margin-bottom: 4.5rem;
        padding-top: 1rem;
    }
    
    .pro5{
        grid-area: pro5;
        margin-bottom: 4.5rem;
        padding-top: 2rem;
    }
    
    .pro6{
        grid-area: pro6;
        margin-bottom: 4.5rem;
        padding-top: 2rem;
    }
}

/* PROPIEDADES DE CONTACTO */

.mainContacto{
    @include mainGeneral;

    h1{
        @include tituloH1;
    }

    form{
        display: flex;
        justify-content: center;
    }

    .formulario{
        margin: 10px;
        border: solid 2px gray;
        font-family:'Times New Roman', Times, serif;
        width: 70%;
    }
    
    .formulario legend{
        font-family:cursive;
        font-weight: bold;
    }
    
    .formulario div{
        padding: 5px;
        margin: 5px;
        text-align: center;
        
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    
    .nombres{
        padding-left: 1rem;
    }
    
    .mails{
        padding-left: 1.9rem;
    }
    
    .botones{
        padding: 5px;
        margin: 5px;
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
}

/* PROPIEDADES DE ZOOM */
    
.zoom{
    overflow: hidden;
}

.imgz{
    border-radius: 5px;
    box-shadow: 4px 5px gray;
    transition: 0.8s;
}

.zoom:hover .imgz{
    transform: scale(1.1);
}

.imgz1{
    transition: 0.8s;
}

.zoom:hover .imgz1{
    transform: scale(1.1);
}

/* PROPIEDADES DEL BOTON WPP*/

.enlace{
    position: fixed;
    bottom: 10rem;
    right: 0;
}

.colori{
    background-color: rgb(79, 153, 9);
    border-radius: 2rem;
}

/* PROPIEDADES DEL FOOTER */

footer{
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(34, 34, 34, 0.4));
    padding-bottom: 2rem;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 30px;

    div{
        margin-top: 2rem;
    }

    .seguinos{
        margin-top: 2rem;
    }

    .seguinos ul li{
        gap: 5px;
    }

    div a{
        color: $color-secundario-letras;
        text-decoration: none;
        font-size: $tamaño-fuente;
        font-weight: bold;
    }

    .parraFooter{
        color: $color-secundario-letras;
        font-size: $tamaño-fuente;
        font-weight: bold;
    }

    .contacto{
        color: rgb(39, 39, 39);
        font-size: $tamaño-fuente;
    }

    .volver a{
        color: $color-secundario-letras;
        text-decoration: none;
    }

    .volver a:hover{
        color:$color-secundario-letras;
    }

    .logoFooter{
        padding: 10px;
        font-size: 2.5rem;
        font-family: 'Titan One', cursive;
        color: $color-principal-letras;
    }
}

/* MEDIA QUERIES */

@media (max-width: 700px) and (min-width: 320px) {
    .estiloInicio main{
        display: grid;
        grid-template-areas: "inicio"
                             "mirar"
                             "carro"
                             "seccion";

        

        .carousel-inner{
            width: 300px;
        }
            
        .carousel{
            width: 300px;
        }

        .card{
            width: 80%;
        }
        .card p{
            font-family: cursive;
            font-size: 2.3rem;
            font-weight: bold;
        }
    }

    .mainNosotros .descripcion{
        display: grid;
        grid-template-areas: "imgN1"
                             "imgN2"
                             "parrafoNos";
        gap: 1rem; 
        justify-content:center;
    }

    .mainNosotros .parrafoNos{
        width: 75%;
        text-align: center;
    }

    .mainTienda .lista{
        display: grid;
        grid-template-areas: "pro1"
                             "pro2"
                             "pro3"
                             "pro4"
                             "pro5"
                             "pro6";
    }

    footer{
        flex-direction: column;
    }

}


@media (max-width: 950px) and (min-width: 701px) {
    .estiloInicio main{
        .carousel-inner{

            width: 400px;
            
            }
            
            .carousel{
            
            width: 400px;
            
            }

        .card{
            width: 80%;
        }

        .card p{
            font-family: cursive;
            font-size: 2.1rem;
            font-weight: bold;
        }
    }

    .mainPropuestas .propuestas{
        display: grid;
        grid-template-areas: "img"
                             "parrafo";

    img{
            width: 75%;
        }
    }

    .mainNosotros .descripcion{
        display: grid;
        grid-template-areas: "imgN1"
                             "imgN2"
                             "parrafoNos";
        gap: 2rem; 
        justify-content:center;
    }

    .mainTienda .lista{
        display: grid;
        grid-template-areas: "pro1 pro2"
                             "pro3 pro4"
                             "pro5 pro6";
    }

    footer{
        flex-direction: column;
    }

}


