// MIXIN

@mixin tituloH1 {
    padding: 1rem;
    font-family: cursive;
    font-weight: bold;
    color: $color-principal-letras;
}

@mixin mainGeneral {
    padding-top: 2rem;
    padding-bottom: 10rem;
    background-color:whitesmoke;
    border-top: 5px solid rgb(255, 0, 234);
}

@mixin img {
    border-radius: 5px;
    box-shadow: 4px 5px gray;
}