// MIXIN

@mixin tituloH1 {
    text-align: center;
    padding: 3rem;
    font-family: 'Titan One', cursive;
    font-weight: bold;
    color: $color-principal-letras;
}

@mixin mainGeneral {
    padding-top: 2rem;
    padding-bottom: 10rem;
    
}

@mixin img {
    border-radius: 5px;
    box-shadow: 4px 5px rgba(212, 95, 193, 0.2);
}